<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Custom schemes are debug-only. Production accepts only the verified HTTPS App Link. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="tani"
                    android:host="auth"
                    android:path="/reset" />
            </intent-filter>
        </activity>
    </application>
</manifest>
